
<!DOCTYPE html>
{% load bootstrap4 %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ user.get_full_name }}</h2>
                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Location: {{ user.location }}</li>


                </ul>
            </div>
            <div class="col-md-8">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form profile_form layout="inline" %}
                    <button class="btn btn-outline-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock%}
