
{%extends 'law/base.html'%}
{% load bootstrap4 %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 id="full-name">{{ user.get_full_name }}</h2>
                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Location: {{ user.location }}</li>


                </ul>
            </div>
            <div class="col-md-8" id="edit-profile">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form profile_form layout="inline" %}
                <input type="submit" class="btn btn-primary" value="post">

                </form>
            </div>
        </div>
    </div>
{% endblock%}
