
<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link active" href="{%url 'lawyerdashboard'%}">Home</a>
    <a class="nav-item nav-link active" href="{%url 'lawyerprofile'%}">Profile</a>
    <a class="nav-item nav-link active" href="{%url 'lawyercases'%}">View cases</a>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a href="{%url 'newarticle' %}" class="dropdown-item"> New Article</a>
        <a class="dropdown-item" href="#">Change Profile</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="nav-item nav-link active" href="/logout">Logout</a>
    </div>
</nav>