
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {

  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
h1 {
  font-family: 'Bungee', cursive;
}

div#carouselExampleIndicators{
  height: 500px;
  width: 1000px;
}