body{
  background: linear-gradient(rgba(17.6%, 20%, 25.9%, 0.55), rgba(17.6%, 20%, 40.9%, 0.55)),
                rgba(17.6%, 20%, 25.9%, 0.55) url("/static/images/bg.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;


}

.container {
  height: 100%;


}

h1 {
  font-family: 'Bungee';
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
}

h3 {
  font-family: 'Bree serif';
  color: white;
  text-align: center;
  font-size: 40px;
}

p {
  color: white;
  padding: 30px;
  font-size: 24px;

}
 ul {
   list-style: none;
   font-size: 25px;
   color: white;
 }