
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {

  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
h1 {
  font-family: 'Bungee', cursive;
}

div#carouselExampleIndicators{
  height: 500px;
  width: 100%;
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  background: #fff;
  line-height: 1.55;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: normal;
  letter-spacing: 0;
  font-weight: 300;
}

h1 {
  padding-top: 0;
  font-size: 36px;
}

h2 {
  font-size: 28.8px;
}

h3 {
  font-size: 21.6px;
}

a {
  color: #1F4670;
  text-decoration: none;
}
a:hover {
  color: #8BA9DC;
  text-decoration: none;
}
a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

img, iframe, pre, code {
  max-width: 100%;
}


ul, ol {
  margin-bottom: 20px;
}


#toggle {
  display: block;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 99;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  display: block;
}

#menu {
  opacity: 0;
  display: none;
}

body > header {
  color: #fff;
  padding: 20px;
  background: #5B80C1;
  text-align: center;
  position: relative;
}
body > header h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  position: relative;
}
body > header h1:after {
  content: "☼";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 60px;
  margin-left: -30px;
  font-size: 20px;
  text-align: center;
  display: block;
  border: 1px solid;
  background: #5B80C1;
}
body > header h1, body > header h1 > a {
  color: #fff;
  font-size: 16px;
}
body > header h1:hover, body > header h1 > a:hover {
  color: #fff;
}
body > header span.cursive {
  display: block;
  font-size: 46px;
  padding: 0 4px 0 0;
  transform: rotate(-7deg);
  color: #fff;
  transition: all 300ms ease;
}
body > header span.cursive:hover {
  transform: rotate(367deg);
}

body > header nav[role="main"] li a {
  padding: 5px 10px;
  color: #2F2933;
  width: 100%;
}
body > header nav[role="main"] li a:hover {
  color: #fff;
  background: #2F2933;
}

.container {
  width: 100%;
  padding: 20px;
}
.container .calendar {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.container .calendar .calendar--item {
  border-bottom: 1px solid #afa5b6;
  margin-bottom: 20px;
}
.container .calendar .calendar--item_date {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background: lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 0 #afa5b6;
}
.container .calendar .calendar--item_date_month {
  display: block;
  background: #9B0000;
  color: #fff;
  padding: 6px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container .calendar .calendar--item_date_day,
.container .calendar .calendar--item_date_year {
  display: block;
}
.container .calendar .calendar--item_date_day {
  font-size: 36px;
  font-weight: bold;
  padding: 10px 0;
}
.container .calendar .calendar--item_date_year {
  font-size: 16px;
}
.container .calendar .calendar--location {
  font-weight: bold;
  font-size: 20px;
}
.container .sidebar {
  text-align: left;
  border-top: 1px solid #afa5b6;
  padding: 20px;
}
.container .sidebar img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: center;
  background: #1E233F;
  color: #fff;
  margin-bottom: 0;
  padding: 20px 0;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  body > header {
    padding: 40px;
  }
  body > header h1 {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid;
    position: relative;
  }
  body > header h1:after {
    content: "☼";
    position: absolute;
    bottom: -26px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    font-size: 40px;
    text-align: center;
    display: block;
    border: 1px solid;
    background: #5B80C1;
  }
  body > header span.cursive {
    display: inline-block;
  }
  body > header #toggle {
    display: none;
  }
  body > header #menu {
    display: block;
    opacity: 1;
  }
  body > header nav[role="main"] ul,
  body > header nav[role="main"] ul li,
  body > header nav[role="main"] li a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body > header nav[role="main"] li {
    display: inline-block;
  }
  body > header nav[role="main"] li a {
    padding: 10px 20px;
  }

  .container {
    width: 1140px;
    padding: 40px;
    margin: 0 auto;
  }
  .container .calendar .calendar--item_date {
    float: left;
    margin-right: 20px;
  }
  .container .sidebar {
    text-align: center;
    border-top: none;
    border-left: 1px solid #e1dde4;
  }
  .container .sidebar aside {
    text-align: left;
  }
}

.claim {
  background: url('http://ummeed.in/wp-content/uploads/2016/10/law-wallpapers-hd-1080p-1920x1080-desktop-02-800x445.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.scream {
  font-size: 24px;
  font-weight: bold;
}

.text-shadow, .claim--contents {
  text-shadow: 1px 0 1px rgba(18, 18, 18, 0.8);
}

.button {
  color: #fff;
  text-shadow: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  /* mess with how it looks! very excite */
  border: 2px solid transparent;
  margin: 0 10px 10px 0;
  padding: 6px 14px;
  /* boring */
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  width: auto;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* alternate looks */
  /* animation stuff */
}
.button i {
  padding-left: 0;
  transition: all 100ms ease-in-out;
}
.button:hover i {
  padding-left: 10px;
}

.button-giant {
  font-size: 20px;
}

.button.button-wesley {
  background: #5B80C1;
  color: #fff;
  border-radius: 24px;
}
.button.button-wesley:hover {
  background:#8BA9DC;
  color: #fff;
}
.button.button-wesley:active {
  background: #8BA9DC;
  color: #fff;
}

.claim--contents {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  background-attachment: scroll;
  background-size: 1920px 1080px;
  min-height: 100vh;
  padding: 2vh 2vw;
  text-align: center;
  color: #ffffff;
}
.claim--contents h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -.04em;
  color: #fff;
}
.claim--contents h2 {
  margin-bottom: 20px;
}

.container .grid {
  margin-top: 2em;
}

footer {
  text-align: left;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.closure {
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}
.closure p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .button-giant {
    font-size: 28px;
  }

  .claim--contents {
    align-content: center;
    padding: 0 20vw;
    background-attachment: fixed;
    background-size: cover;
  }
}

/* @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}


@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
} */

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

footer {
  text-align: left;
}
.closure {
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}
p {
  margin: 0;
  padding: 0;
}