{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/authentication/signup.css'%}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content%}
    {% endblock %}
    {% block scripts%}
        {% bootstrap_javascript jquery="full"%}
    {% endblock %}
</body>
</html>