{%extends 'law/base.html'%} 
{%block content%}
<div class="container" style="padding-top:90px;">
    <div class="row">
        <div class="col-md-6">
            hhuh


            <div class="profile">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            hello lawyer profile today
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-5">
                        Blah blah blah
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}