{%extends 'law/base.html'%}
{% load staticfiles %}
{% block content %}
{% block styles %}
   {{block.super}}
<link rel="stylesheet" href="{% static 'css/lawyer/profile.css'%}">
{% endblock %}

<div class="container">
  <div class="card profile-body">
    {% if current_profile.user.id == request.user.id%}
      <a class="edit" href="{% url 'lawyer:edit'%}"><span><i class="float-right fa fa-edit fa-2x"></i></span></a>
    {% endif%}
    {% if current_profile.avatar%}
    <img src="{{ current_profile.avatar.url}}" class="text-center rounded-circle profile" alt="avatar">
    {% endif %}
    <h1><span class="bold">{{ current_profile.user.lawyer_profile.first_name }} {{ current_profile.user.lawyer_profile.last_name}}</span></h1>
    {# <p class="bold"> username:{{current_profile.user.username}}</p> #}
    <p>category:  {{ current_profile.category}}</p>
    <p>Bio:{{ current_profile.bio}}</p>
    <p>Location:{{ current_profile.location}}</p>
    <div style="margin: 24px 0;">
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button class="contact">Contact</button></p>
  </div>
</div>

<br><br>


<div class="container">
  <h4 class="text-center">Articles</h4>
  <div class="row">
    {% for article in articles %}
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <p>{{article.name}}</p>
        </div>
        <div class="card-body text-center article_body">
          <img class="card-img-top" src="{{article.image.url}}">
          {# <p class="card-text text-left">{{article.post}}</p> #}
        </div>
        <div class="card-footer">
          <p>posted at:{{article.time}}</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
</div>
{% endblock %}
