{% extends 'law/base.html' %}
 {% load staticfiles%}
 {% block content %}
 {% block styles %}
  {{block.super}}
   {% endblock %}
<h1 class="text-center">Cases</h1>

<div class="container">
  <section class="drunken">
    <div class="container">
      <h2>Drunken Disorder</h2>
      <div class="row">
        {% for case in drunk%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
  <section class="land_fraud">
    <div class="container">
      <h2>Land Fraud</h2>
      <div class="row">
        {% for case in land%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
  <section class="robbery">
    <div class="container">
      <h2>Robbery</h2>
      <div class="row">
        {% for case in robbery%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
  <section class="murder">
    <div class="container">
      <h2>Murder</h2>
      <div class="row">
        {% for case in murder%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
  <section class="fraud">
    <div class="container">
      <h2>Fraud</h2>
      <div class="row">
        {% for case in fraud%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
  <section class="sex">
    <div class="container">
      <h2>Sexual Assault</h2>
      <div class="row">
        {% for case in sex%}
        <div class="col-sm-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <p>{{case.get_case_category_display}}</p>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <p class="card-text text-left">{{ case.case_description}}</p>
            </div>
            <div class="card-footer">
              <p>{{ case.post_date}}</p>
              <a href="#" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </section>
</div>

{% endblock %}
