{% extends './base.html'%}
{% load bootstrap4%}
{% load static%}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
   <div class="card" style="width: 50rem">
     <div class="card-body">
      <div class="row no-space">
        <div class="col-md-4 left">
          <p class="lead text-center display-4">Sign up</p>
        </div>
        <div class="col-md-8 right">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form layout='inline'%}
            <button type="submit" name="button" class="btn btn-primary">Sign up</button>
          </form>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>
</div>
{% endblock %}
