<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            <label class="control-label" for="username">Username</label>
            <input type="text"id="username" name="username" placeholder="username">
        </p>
        <p>
            <label class="control-label" for="password">Password</label>
            <input type="password" placeholder="password" name="password" id="password">
        </p>
        <button type="submit">Login</button>
    </form>
    <div class="panel-body">
      <a href="/accounts/citizensignup">Don't have an account? SignUp here.</a>
    </div>
  </body>
</html>
