{%load static%}
{% load pinax_messages_tags %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/69707593c1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/wesley.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

</head>
    <body>
        <a href="{% url 'pinax_messages:inbox' %}"><i class="fa fa-envelope"></i> {% trans "Message Inbox" %}</a>
        <a href="{% url 'pinax_messages:thread_detail' thread.pk %}"><i class="fa fa-envelope"></i> {% trans "View Message Thread" %}</a>
        <a href="{% url "pinax_messages:message_user_create" user_id=object.user.id %}" class="btn btn-default">Message this user</a>
        <div class="container">
            <h1>This Is The Law</h1>
            <h3>A very confused app</h3>
            <button class="btn btn-outline-info">View More</button>
        </div>
        <div class="about">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus tincidunt lobortis. Phasellus posuere ut tellus eu pretium. Maecenas dignissim ex vitae enim placerat rutrum. Nulla ultrices magna sed est vestibulum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eros nisl, pellentesque nec interdum eu, efficitur eu tortor. Curabitur nec ante ac sem dignissim auctor et ac felis. Morbi finibus sem tristique lobortis rutrum. Phasellus nec nunc euismod, sollicitudin magna vel, laoreet ex.</p>
            <section class="col-md-4">
                <img src="/static/images/sc.jpeg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus tincidunt lobortis. Phasellus posuere ut tellus eu pretium.</p>

            </section>
            <section class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus tincidunt lobortis. Phasellus posuere ut tellus eu pretium.</p>

            </section>
            <section class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus tincidunt lobortis. Phasellus posuere ut tellus eu pretium.</p>

            </section>

        </div>

        <div class="services">
            <h1>What We Do</h1>
            <ul>
                <li>Property Law</li>
                <li>Criminal Law</li>
                <li>Corporate Law</li>
                <li>Labour Law</li>
            </ul>

        </div>
    <script src="{% static 'js/wesley.js' %}"></script>
</body>
</html>