{%load static%}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/69707593c1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/wesley.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
    <body>
    <div class="container">
        <div class="row">
            <div class="claim">
                <div class="claim--contents">
                    <h1>De Law... </h1>
                    <p class="scream">We provide Legal advice including where to get lawyers from in an easy to do manner without the hustle and bustle of knowing legal firms
                        Find and talk to advocates and lawyers at the go from this here website.
                        Easily join our ever expanding community of legal advisors and be in the know
                        </p>
                    <p>
                        <a href="#go" class="button button-wesley button-pill button-giant">Read More</a>
                    </p>
                </div>
            </div>
            
            
            <div class="container" id="go">
            
                <div class="grid grid-pad">
                    <div class="col-1-3 mobile-col-1-1">
                        <h1>Geo Mapping</h1>
                        <p>We connect you to the legal team of Kenya such as advocates and lawyers both freelance and firms around you based on your location
                            By using state of the art google maps technology we've made finding legal matters in your area simpler
                        </p>
                        <p>
                            <a href="#" class="button button-pill button-wesley">Read more
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-1-3 mobile-col-1-1">
                        <h1>Assured Good legal advice&trade;</h1>
                        <p>Only the best of the best apply to become lawyers or advocates into our app ensuring that the legal advice one gets is sound and 
                            of the highest quality available. Like Nakumatt... You need it we've got it
                        </p>
                        <p>
                            <a href="#" class="button button-pill button-wesley">Read more
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-1-3 mobile-col-1-1">
                        <h1>Mobile USSD</h1>
                        <p>We understand our own customers and give providence to even the least enabled citizen. The USSD platform incorporates all that one requires from our site in a
                            way in which one can get all the information from the ease of their phones even in the rural areas with our USSD code hosted with details you may need
                        </p>
                        <p>
                            <a href="#" class="button button-pill button-wesley">Read more
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-1-3 mobile-col-1-1">
                        <h1>Legal Bot</h1>
                        <p>Additional feature that we bring into the legal industry that helps us stand out from the rest is our state of the art legal advice bot
                            The bot converses with the individual and sends back data according to the constitution of Kenya to help with simple cases that don't require consultation from a lawyer
                        <p>
                            <a href="#" class="button button-pill button-wesley">Read more
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                </div>
            
            </div>

            
            <div class="claim">
                <div class="claim--contents">
                    <h1>One on One Personal Time with lawyers</h1>
                    <h2> We make your legal matters our business and provide information out there for all to see and use</h2>
                    <p>
                        We provide an onsite messaging platform that incorporates the citizens signed in and the lawyers signed in to have a safe space to speak on legal matters that affects the users
                        The application is secure and messages are encrypted using end to end encryption to ensure privacy on matters concerning your legal cases since we value user privacy

                    </p>
                        <a href="#go2" class="button button-wesley button-pill button-giant">How we trim our lawn</a>
                </div>
            </div>
            
            
            <div class="container" id="go2">
            
                <div class="grid grid-pad">
                    <div class="col-1-3">
                        <p>
                           
                        </p>
                    </div>
                    <div class="col-2-3">
                        <h1>Articles that keep you in touch with legal matters</h1>
                        <p>We believe in information distribution to everyone and encourage lawyers signed into the application to write articles that are then previewed as a news feed on the users dashboard.
                            The User will then be empowered to know about legal matters and have at least some idea on how legal matters work and their rights and priviledges as citizens 

                        </p>
            
                        <p>We have a proven track record. The online bulletin board FamousMaximumEffort.com named us #1 expertise center
                            in 2001!</p>
                        <p>
                            <a href="http://www.threedeepmarketing.com/wp-content/uploads/content-marketing-zoolander.png" target="_blank"
                                class="button button-pill button-wesley">So Hot Right Now
                                <i class="fa fa-thermometer-three-quarters"></i>
                            </a>
                        </p>
                    </div>
                </div>
            
                <div class="grid grid-pad">
                    <div class="col-2-3">
                        <h1>In-House Software Development Teams</h1>
                        <p>We uphold our proud delivery cycle matching only the greatest in this field and expertise. With a vast team of
                            200+ seasoned experts in the field of
                            <strong>VisualBasic, COBALT and PHP</strong>
                            we can guarantee fault-tolerant behaviour with any digit exchage.</p>
            
                        <p>We have a proven track record. The online bulletin board FamousMaximumEffort.com named us #1 expertise center
                            in 2001!</p>
                        <p>
                            <a href="#" class="button button-pill button-wesley">View our Social Ranking on Klout
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-1-3">
                        <p>
                            <img src="https://vgy.me/psJlJy.jpg" alt="" />
                        </p>
                    </div>
                </div>
            
                <div class="grid grid-pad">
                    <div class="col-1-3">
                        <p>
                            <img src="https://vgy.me/fGdT2D.jpg" alt="" />
                        </p>
                    </div>
                    <div class="col-2-3">
                        <h1>Dribbble your way into successland!</h1>
                        <p>For years we had the pleasure of gaining hundreds of repetitive comments from competing designers and devlopers
                            on any work we posted on one of the five accounts we own. From "Wow, nice work!" to "That's amazing", it
                            was all there.</p>
            
                        <p>We have a proven track record. The online bulletin board FamousMaximumEffort.com named us #1 expertise center
                            in 2001!</p>
                        <p>
                            <a href="#" class="button button-pill button-wesley">Get Dribbbl' with us
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </p>
                    </div>
                </div>
            
            </div>
            <!-- end container -->
            
            <footer>
            
                <div class="grid grid-pad">
                    <div class="col-1-4">
                        <h1>Jonas, TLC</h1>
                        <p>7355608 Greatlane
                            <br> 90210 Beverly Fjord
                            <br> New Vegas</p>
                    </div>
                    <div class="col-1-4">
                        <ul>
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">References</a>
                            </li>
                            <li>
                                <a href="#">Whitepapers</a>
                            </li>
                            <li>
                                <a href="#">Offices</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <ul>
                            <li>
                                <a href="#">Overview</a>
                            </li>
                            <li>
                                <a href="#">Managed Amazon Cloud</a>
                            </li>
                            <li>
                                <a href="#">PHP3 on AWS</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Resources</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <ul>
                            <li>
                                <a href="#">Help Center</a>
                            </li>
                            <li>
                                <a href="#">Statement of Support</a>
                            </li>
                            <li>
                                <a href="#">Managed Services</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>&copy; 2016 Jonas, LLC</li>
                        </ul>
                    </div>
                </div>
            
            </footer>
            <div class="closure">
                <p>
                    <q>Be awesome and share the love</q>
                </p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/wesley.js' %}"></script>    
</body>
</html>