{%load static%}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/69707593c1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/wesley.css'%}">
</head>
    <body>
    <div class="landing">
        <div class="base">
            <div class="image">
                <img src="http://www.supah.it/dribbble/frame-dailyui-003.jpg" />
            </div>
            <div class="copy">
            
                <div class="title">
                    <small>There's no sobstitute for power.</small> Except more power.</div>
                <div class="text">What CrossFit has taught me, and what I think everyone
                    <br /> can apply to their own fitness, is the idea that the body can
                    <br />always do more. The average CrossFit WOD is deliberately
                    <br /> designed to fatigue your body to the point where you don't
                    <br /> think you can go on. The lesson in the WODs is that when
                    <br /> your body is totally exhausted, you must look for a different
                    <br /> energysource. And guess what?
                    <br /> Your body will do it.</div>
                <a class="cta" target="_blank">play video</a>
            </div>
        </div>
    </div>
    <script src="js/wesley.js"></script>    
</body>
</html>